<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | SWEETER</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Segoe+UI">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='myjs.js') }}"></script>
  <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
  <meta property="og:title" content="Sweeter - the sweetest site" />
  <meta property="og:description" content="mini project for Web Plus" />
  <metaproperty="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />
</head>

<body>
  <section class="hero is-large is-info">
    <div class="hero-body">
      <p class="title">
        About this site
      </p>
      <p class="subtitle">
         Welcome to SWEETER site
      </p>
    </div>
  </section>
</body>

</html>